
<style>
li {list-style: none;}
ul {margin-left: 0; padding-left:0;}
</style>


<table cellpadding="20"  width="100%">

<tr>
  <td width="60%" align="left" valign="bottom"> <h1>Марущенко Сергей Николаевич</h1> </td>
  <td width="40%">  </td>
</tr>

<tr>
  <td width="60%" align="left" valign="midlle">
  <%= image_tag "avatar.jpg", :alt => "Аватарка" %>
  </td>


  <td width="40%" align="left" valign="top"> 
    <h1>
    <ul>
    <li><%= link_to 'Обо мне', "#"  %></li>
    <li><%= link_to 'Мои работы', "#" %></li>
    <li><%= link_to 'Сделать заказ', "#" %></li>
    <li><%= link_to 'Контакты', "#" %></li>
    </ul>
    </h1>
  </td>
</tr>

</table>